.carousel {
    width: 100vw;
    min-height: 500px;
    position: relative;

    &__cards {
        width: 100%;
        display:flex;
        position:absolute;
        top:0;
        left: calc(50% - 150px);
        transition: transform 1s ease;

        .card {
            min-width: 300px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;


            // values for non-selected appearance
            opacity: 0.5;
            transform: scale(0.5);

            // transitions on selected non-selected properties
            transition: opacity 1s ease-in, transform 1s ease;


            &.selected {
                // Values for selected appearance
                opacity: 1;
                transform: scale(1);

                h1 {
                    opacity: 1;


                }
            }

            // defaults for img and h1
            img {
                width: 100%;
                height: 400px;
            }
            h1 {
                font-size: 25px;
                opacity: 0;
                transition: opacity 1s ease-in; // required here because it does not inherit
            }

        }

    }

    &__btns {
        position:absolute;
        bottom:0;
        left: calc(50% - 120px);
        width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 100px;
            height: 50px;
        }
    }
}
