.App {
  header {
    width: 100vw;
    height: 90px;
    background: rgb(44, 44, 44);
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 90px;
    margin-bottom: 15px;
  }
}
